<!--@subject {{var store.getFrontendName()}}: Remind to Customer Checkout @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$referral.getReferralName()":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var referral.getEmail()":"Customer Email",
"htmlescape var=$referral.getPassword()":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <!--edit by Sally-->
                            <a href="{{store url=''}}"><img src="{{var logo_url}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Hi {{var customer_name}}</strong>,<br/>
                                I am <strong>Richard</strong> from Customer Care department at <strong>{{var store.getFrontendName()}}</strong>.
                                Thank you again for stopping by <strong>{{var store.getFrontendName()}}</strong> <a href="{{store url=''}}">My website!</a><br/>
                                I noticed that you placed the following product(s) in your shopping cart, but did not complete your order:<br/>
                                Did you meet any problems with the payment? Or is there anything else you expect from our product?
                                Feel free to raise your questions and concern, I am pleased to assist you more via this email or livechat.

                                However, if you are hesitating because of your budget, I have a proposal for you. Just follow the URL link or click the button to head back to your cart and check out to save <strong>{{var remind_value}}%</strong> on your order. .

                            <br/>
                            <br/>
                            <p>Your quote information is below.</p>
                            <br/>
                            <table class="data" id="customer_cart_grid1_table" cellspacing="0" border="1">
                                <colgroup><col width="100">
                                    <col>
                                    <col width="100">
                                    <col width="60">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr class="headings">
                                        <th><span class="nobr"><a href="#" name="customer_name" title="asc" class="not-sort"><span class="sort-title">Customer Name</span></a></span></th>
                                        <th><span class="nobr"><a href="#" name="number_of_item" title="asc" class="not-sort"><span class="sort-title">Number of Items</span></a></span></th>
                                        <th><span class="nobr"><a href="#" name="qty" title="asc" class="not-sort"><span class="sort-title">Quantity of Items</span></a></span></th>
                                        <th><span class="nobr"><a href="#" name="subtotal" title="asc" class="not-sort"><span class="sort-title">Subtotal</span></a></span></th>
                                        <th><span class="nobr"><a href="#" name="createA" title="asc" class="not-sort"><span class="sort-title">Created At</span></a></span></th>
                                        <th><span class="nobr"><a href="#" name="price" title="asc" class="not-sort"><span class="sort-title">Updated At</span></a></span></th>
                                    </tr>
                            </thead>
                                {{layout handle="remind_email_to_customer" order=$quote}}
                                <tbody>
                                <tr class="even pointer" title="abandoned cart">
                                    <td class=" ">
                                        {{var customer_name}}
                                    </td>

                                    <td class=" ">
                                        {{var number}}
                                    </td>
                                    <td class=" a-right ">
                                        {{var qty}}
                                    </td>
                                    <td class=" a-right ">
                                        {{var subtotal}}
                                    </td>
                                    <td class=" a-right ">
                                        {{var create_at}}
                                    </td>
                                    <td class=" a-right ">
                                        {{var updated_at}}
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                            Please login to our website to checkout, please click <a href="{{store url='customer/account/login'}}">Login</a></p>
                            <p>
                                Hope this offer can help you to determine to finish the order quickly. I am sincerely looking forward to hearing from you in the shortest time.
                            </p>
                            <br/>
                            <p>Best regards,<br/><strong>{{var sender_name}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
